<h1>Listing posts</h1>

<p>Here are all the posts:.</p>

<ul> 
<% @posts.each do |post| %>
  <li><%= link_to post.title, post %>
  	<small>
      [<%= link_to 'del', post, method: :delete %>]
    	[<%= link_to 'url', fix_url(post.url) %>]
  	posted on <%= display_datetime(post.created_at) %>
      [<%= link_to 'edit', edit_post_path(post) %>]
    </small>
  </li>
  <!-- "post_path(post)" can also just be "post" -->
 <% end %>

</ul>

<%= link_to 'New Post', new_post_path %>