<h1>Listing posts</h1>

<!-- <%= button_to 'New Post', new_post_path, class: "btn" %> -->

<% @posts.each do |post| %>
<div class = 'well span8'>
  <li>
    <%= link_to '', vote_post_path(post, vote: true), method: :post, class:"icon-thumbs-up" %>
    <%= post.total_votes %>
    <%= link_to '', vote_post_path(post, vote: false), method: :post, class:"icon-thumbs-down" %>

    <%= link_to post.title, post %>
  	<small>
      [<%= link_to 'del', post, method: :delete %>]
    	[<%= link_to 'url', fix_url(post.url) %>]
  	posted on <%= display_datetime(post.created_at) %>
      [<%= link_to 'edit', edit_post_path(post) %>]
    </small>
  </li>
</div>
  <!-- "post_path(post)" can also just be "post" -->
 <% end %>


