<h3>You are looking at <%= @post.title %></h3>

<p>

<strong>Name:</strong>

<%= @post.title %>

<%= params[:id] %>

<p>URL: <%= @post.url %> </p>
<p>Description: <%= @post.description %></p>

<p>
  <% if logged_in? %>
    <%= render 'shared/errors', obj: @comment %>
    <%= form_for [@post,@comment] do |f| %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <br>
      <%= f.submit 'Create comment', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<p>



<h4>Comments:</h4>
<!--   
  <div class = "well span0 text-center">
    <span id= 'post_5_votes'> 16 </span> votes
    <br>
  </div>
 -->
<ol>
  <% @post.comments.each do |comment| %>
      <li>  

    <div class="row" >
      <div class='span0 well text-center comment_votes'>
      <%= link_to '', vote_post_comment_path(@post, comment, vote: true), method: :post, class: 'icon-arrow-up' %>
      <br/>
          <span id='comment_<%=comment %>_votes'><%= comment.votes.size %></span> votes
          <br/>
      <%= link_to '', vote_post_comment_path(@post,comment, vote: false), method: :post, class: 'icon-arrow-down',remote: true %>
      </a>  
    </div>

      <div class = "bubble-list">
      <a class = 'btn btn-info user-picture'><i class="icon-user icon-white"></i></a>
        <div class = "bubble clearfix" >
          <div class = "bubble-content">
            <div class = "point"></div>
            <%= comment.body %> 
             <br><span class="quiet"> by <%= comment.creator.username %></span>
          </div>
         </div>
        </div>
      </li>
  <% end %>
</ol>


</p>
