<h3>You are looking at <%= @post.title %></h3>

<p>

<strong>Name:</strong>

<%= @post.title %>

<%= params[:id] %>

<p>URL: <%= @post.url %> </p>
<p>Description: <%= @post.description %></p>

<p>
  <% if logged_in? %>
    <%= render 'shared/errors', obj: @comment %>
    <%= form_for [@post,@comment] do |f| %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <br>
      <%= f.submit 'Create comment', class: 'btn btn-primary' %>

    <% end %>
  <% end %>

<p>




  <h4>Comments:</h4>
<ol>
  <% @post.comments.each do |comment| %>
    <li>  

    <div class = "bubble-list">
    <a class = 'btn btn-info user-picture'><i class="icon-user icon-white"></i></a>
      <div class = "bubble clearfix" >
        <div class = "bubble-content">
          <div class = "point"></div>
          
      <%= comment.body %> by <%= comment.creator.username %>

      </div>
     </div>
    </div>
    </li>
  <% end %>
</ol>


</p>
