<h5>Create a Category </h5>

<%= render 'shared/errors', obj: @category %>


<%= form_for @category do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.submit "Submit", class:'btn' %>
<% end %>