
<h1> Admin Dashboard </h1>
<h2>Top 3 Posts and Bottom 3 Posts</h2>

<table class = "table">
    <thead>
      <tr>
        <th>Top Post Rank</th>
        <th># Votes</th>
        <th>Title</th>
        <th>Date Published</th>
      </tr>
    </thead>
    <tbody>

<% @posts.sort_by! {|post| post.total_votes}.reverse!.first(3).each_with_index do |post, index| %>
    <tr class= "success">
        <td><%= index + 1 %></td>
        <td><%= pluralize(post.total_votes, "vote") %></td>
        <td><%= link_to post.title.capitalize, post %></td>
        <td><%= display_datetime(post.created_at) %></td>
    </tr>
<% end %>

</tbody>
</table>

<table class = "table">
    <thead>
      <tr>
        <th>Bottom Post Rank</th>
        <th># Votes</th>
        <th>Title</th>
        <th>Date Published</th>
      </tr>
    </thead>
    <tbody>

<% @posts.sort_by! {|post| post.total_votes}.first(3).each_with_index do |post, index| %>
    <tr class = "error">
        <td><%= index + 1 %></td>
        <td><%= pluralize(post.total_votes, "vote") %></td>
        <td><%= link_to post.title.capitalize, post %></td>
        <td><%= display_datetime(post.created_at) %></td>
    </tr>
<% end %>

</tbody>
</table>


  <script type="text/javascript">

  $(function() {

    var sin = [],
      cos = [];

    // for (var i = 1; i < 7; i += 1) {
      // sin.push([i, Math.sin(i)]);
      // cos.push([i, Math.cos(i)]);
      // cos.push([i, i]);
      <% @posts.sort_by! {|post| post.total_votes}.reverse!.first(3).each_with_index do |val, index| %>
        sin.push([<%= index + 1 %>, <%= val.total_votes %>]);
      <% end %>
      <% @posts.sort_by! {|post| post.total_votes}.reverse!.last(3).each_with_index do |val, index| %>
        cos.push([<%= index + 1 %>, <%= val.total_votes %>]);
      <% end %>
    // }

    var plot = $.plot("#placeholder", [
      // { data: sin, label: "sin(x)"},
      // { data: cos, label: "cos(x)"}
      { data: sin, label: "Top 3 Posts",threshold: {
          below: 0,
          color: "rgb(200, 20, 30)"
        }},
      { data: cos, label: "Bottom 3 Posts",threshold: {
          below: 0,
          color: "rgb(200, 20, 30)"
        }}

    ], {
      series: {
        lines: {
          show: true
        },
        points: {
          show: true
        }
      },
      grid: {
        hoverable: true,
        clickable: true
      },
      yaxis: {
        min: -3.0,
        max: 8.0
      }
    });

    function showTooltip(x, y, contents) {
      $("<div id='tooltip'>" + contents + "</div>").css({
        position: "absolute",
        display: "none",
        top: y + 5,
        left: x + 5,
        border: "1px solid #fdd",
        padding: "2px",
        "background-color": "#fee",
        opacity: 0.80
      }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#placeholder").bind("plothover", function (event, pos, item) {

      if ($("#enablePosition:checked").length > 0) {
        var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
        $("#hoverdata").text(str);
      }

      if ($("#enableTooltip:checked").length > 0) {
        if (item) {
          if (previousPoint != item.dataIndex) {

            previousPoint = item.dataIndex;

            $("#tooltip").remove();
            var x = item.datapoint[0].toFixed(2),
            y = item.datapoint[1].toFixed(2);

            showTooltip(item.pageX, item.pageY,
                item.series.label + y + "votes" + "for post "+ x);
          }
        } else {
          $("#tooltip").remove();
          previousPoint = null;            
        }
      }
    });

    $("#placeholder").bind("plotclick", function (event, pos, item) {
      if (item) {
        $("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
        plot.highlight(item.series, item.datapoint);
      }
    });

    // Add the Flot version string to the footer

    $("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
  });

  </script>

  <div id="header">
    <h2>Voting Statistics</h2>
  </div>

  <div id="content">

    <div class="demo-container">
      <div id="placeholder" class="demo-placeholder"></div>
    </div>

    <p>Try pointing and clicking on the points.</p>

    <p>
      <label class= "checkbox"><input id="enablePosition" type="checkbox"></input>Show mouse position (id of 'enablePosition')</label>
      <span id="hoverdata"></span>
      <span id="clickdata"></span>
    </p>

    <p><label class = "checkbox"><input id="enableTooltip" type="checkbox"></input>Enable tooltip (id of 'enableTooltip')</label></p>

  </div>

