<ul class="nav">
  <li>
    <i class= "icon-star"></i>
    <%= link_to "Vote_it!", root_path, :class => 'brand' %>
  </li>

  <% if logged_in? %> 
<li> <a>Welcome, <%= current_user.username %></a></li>
      <li>
        <%= link_to 'New Post', new_post_path %>
      </li>
      <li>
        <%= link_to 'New Category', new_category_path %>
      </li>
      <li>
        <%= link_to 'Voting Statistics', votes_path %>
      </li>
      <li>
        <%= link_to 'Logout', logout_path %>
      </li>

    <% else %>
      <li>
        <%= link_to 'Register', register_path %>
      </li>
      <li>
        <%= link_to 'Login', login_path %>
      </li>

<% end %>
</ul>
