<ul class="nav">
  <div class="logo">
<div class = 'btn-group nav_item'>
 <i class= "icon-star"></i>
</div>
</div>

  <li>
    <%= link_to "Vote for it!", root_path, :class => 'brand' %>
  </li>
 

    <div class = 'btn-group nav_item'>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      Categories
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#"> Action </a>
      </li>
      <li class = "divider"></li>
      <li>
        <%= link_to 'New Category', new_category_path %>
      </li>
    </ul>
  </div>


      <li>
        <%= link_to 'New Post', new_post_path %>
      </li>

  <% if logged_in? %> 

  <li> <a>Welcome, <%= current_user.username %></a></li>

      <% if current_user.admin? %>
      <li>
        <%= link_to 'Admin Dashboard', votes_path %>
      </li>
      <% end %>


      <li>
        <%= link_to 'Logout', logout_path %>
      </li>

    <% else %>
      <li>
        <%= link_to 'Register', register_path %>
      </li>
      <li>
        <%= link_to 'Login', login_path %>
      </li>

<% end %>

